@model List<YummyProject.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Toplam Ürün Sayısı</div>
            <strong><span class="card-body display-6" style="font-size: 3rem;">@ViewBag.productCount</span></strong>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Ortalama Ürün Fiyatı(₺)</div>
            <strong><span class="card-body display-6" style="font-size: 3rem;">@ViewBag.avgPrice.ToString("00.00") ₺</span></strong>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">En Ucuz Ürün</div>
            <strong><span class="card-body display-6" style="font-size: 3rem;">@ViewBag.cheapestProduct</span></strong>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">En Pahalı Ürün</div>
            <strong><span class="card-body display-6" style="font-size: 3rem;">@ViewBag.mostExpensive₺</span></strong>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Menümüze Eklenen Yeni Ürünler
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Yemek Adı</th>
                    <th>İçerik</th>
                    <th>Fiyat</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Adı</th>
                    <th>İçerik</th>
                    <th>Fiyat</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>@item.Ingrdients</td>
                        <td>@item.Price</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

