@model List<YummyProject.Models.About>

@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br>
<h2>@ViewBag.Title</h2>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 8%;">1. MADDE</th>
                <th style="width: 8%;">2. MADDE</th>
                <th style="width: 8%;">3. MADDE</th>
                <th style="width: 6%;">TELEFON</th>
                <th style="width: 30%;">AÇIKLAMA</th>
                <th style="width: 10%;">VİDEO URL</th>
                <th style="width: 10%;">1. GÖRSEL</th>
                <th style="width: 10%;">2. GÖRSEL</th>
                <th style="width: 10%;">İŞLEMLER</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Item1</td>
                    <td>@item.Item2</td>
                    <td>@item.Item3</td>
                    <td>@item.PhoneNumber</td>

                    @*Açıklama*@
                    <td>
                        @if (item.Description.Length > 150)
                        {
                            @item.Description.Substring(0, 150)
                        }

                        else
                        {
                            @item.Description
                        }
                    </td>

                    <td>@item.VideoUrl</td>

                    @*GÖrsel*@
                    <td>
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <img src="@item.ImageUrl" alt="Görsel Yüklenemedi" style="width: 100px; height: 100px;" />
                        }
                        else
                        {
                            <span class="text-muted">Görsel Yok</span>
                        }
                    </td>

                    <td>
                        @if (!string.IsNullOrEmpty(item.ImageUrl2))
                        {
                            <img src="@item.ImageUrl2" alt="Görsel Yüklenemedi" style="width: 100px; height: 100px;" />
                        }
                        else
                        {
                            <span class="text-muted">Görsel Yok</span>
                        }
                    </td>

                    <td>
                        <a href="@Url.Action("UpdateAbout", new { id = item.AboutId })" class="btn btn-primary btn-sm">
                            <i class="fas fa-edit"></i> Güncelle
                        </a>
                        <br />
                        <a href="@Url.Action("DeleteAbout", new { id = item.AboutId })" class="btn btn-danger btn-sm" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                            <i class="fas fa-trash"></i> Sil
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<a href="/About/AddAbout/" class="btn btn-primary mt-3">Yeni Hakkımızda Ekle</a>

