@model YummyProject.Models.Feature
@{
    ViewBag.Title = "AddFeature";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Öne Çıkan Alan Ekleme Sayfası</h2>

<form method="post">
    <label>Resim Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ImageUrl, "", new { @class = "text-danger" })
    <br />
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 1, 4, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
    <br />
    <label>Video Url</label>
    @Html.TextBoxFor(x => x.VideoUrl, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.VideoUrl, "", new { @class = "text-danger" })
    <br />
    <div classs="text-danger">ViewBag.error</div>
    <button class="btn btn-primary">Kaydet</button>
</form>

