@model List<YummyProject.Models.Product>

@{
    ViewBag.Title = "Ürün Listesi";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<br>
<h2>@ViewBag.Title</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 20%;">ÜRÜN ADI</th>
                <th style="width: 45%;">İÇERİKLER</th>
                <th style="width: 5%;">FİYAT</th>
                <th style="width: 10%;">KATEGORİ</th>
                <th style="width: 10%;">GÖRSEL</th>
                <th style="width: 10%;">İŞLEMLER</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Ingrdients</td>
                    <td>@item.Price</td>
                    <td>@item.Category.CategoryName</td>


                    <td>
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <img src="@item.ImageUrl" alt="Görsel Yüklenemedi" style="width: 100px; height: 100px;" />
                        }
                        else
                        {
                            <span class="text-muted">Görsel Yok</span>
                        }
                    </td>

                    <td>
                        <a href="@Url.Action("UpdateProduct", new { id = item.ProductId })" class="btn btn-primary btn-sm">
                            <i class="fas fa-edit"></i> Güncelle
                        </a>
                        <a href="@Url.Action("DeleteProduct", new { id = item.ProductId })" class="btn btn-danger btn-sm" onclick="return confirm('Silmek istediğinize emin misiniz?')">
                            <i class="fas fa-trash"></i> Sil
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<a href="/Product/AddProduct/" class="btn btn-primary mt-3">Yeni Ürün Ekle</a>

