@model YummyProject.Models.Event

@{
    ViewBag.Title = "Etkinlik Ekle";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<style>
    label {
        font-weight: bold;
    }

    .form-group {
        margin-bottom: 20px;
    }
</style>

<br />
<h2 class="mb-4">@ViewBag.Title</h2>

@using (Html.BeginForm("AddEvent", "Event", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }

    <div class="form-group">
        <label for="Title">Etkinlik Adı</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @id = "Title" })
        @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Description">Açıklama</label>
        @Html.TextAreaFor(x => x.Description, 3, 50, new { @class = "form-control", @id = "Description" })
        @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Price">Fiyat</label>
        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @id = "Price" })
        @Html.ValidationMessageFor(x => x.Price, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="imageFile">Görsel Seç</label>
        <input type="file" name="imageFile" class="form-control" accept=".jpg,.jpeg,.png,.gif" id="imageFile" />
        @Html.ValidationMessage("ImageUrl", "", new { @class = "text-danger" })
        <small class="form-text text-muted">Sadece .jpg, .jpeg, .png veya .gif dosyaları yükleyebilirsiniz.</small>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Ekle</button>
        <a href="@Url.Action("Index", "Event")" class="btn btn-secondary">İptal</a>
    </div>
}
